.landing {
	@extend %flexCC;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	background: 
		bottom no-repeat url(/assets/images/background-wave.svg),
		#222222;
	&__footer {
		position: absolute;
		bottom: 42px;
		@include media('<=phone') {
			bottom: 102px;
		}
		&__socials {
			svg {
				opacity: 0.3;
				transition: 0.15s;
				cursor: pointer;
				&:hover {
					opacity: 1;
				}
				&:last-of-type {
					margin-left: 22px;
				}
			}
		}
	}
	.card {
		@extend %flexColumnCenter;
		flex-direction: column-reverse;
		width: 600px;
		background-color: white;
		border-radius: 15px;
		box-shadow: 0px 20px 30px 10px rgba($color: rgb(133, 36, 133), $alpha: 0.3);
		justify-content: space-between;
		@include media('<=phone') {
			width: 100%;
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
			border-radius: 0;
			box-shadow: none;
			overflow: hidden;
		}
		&__header {
			@extend %flexCC;
			height: 160px;
			width: 100%;
			background: linear-gradient(135deg, #89216b, #da4453);
			border-radius: 13px 13px 50% 50% / 13px 13px 30px 30px;
			overflow: hidden;
			@include media('<=phone') {
				border-radius: 0 0 50% 50% / 0 0 30px 30px;
			}
			.logo {
				margin-right: 28px;
				filter: invert(100%);
				svg {
					height: 80px;
				}
			}
			.name {
				font-family: 'Motion Picture';
				font-size: 5rem;
				color: white;
				margin-bottom: 12px;
			}
		}
		&__connect {
			@extend %flexColumnCenter;
			margin-top: 32px;
			text-align: center;
			font-family: 'Sitka Display', serif;
			p {
				font-size: 1.2rem;
				margin-bottom: 32px;
			}
			a {
				@include btn-border-drawing(rgb(226, 60, 0), orange);
				background: none;
				border: none;
				line-height: 1.5;
				padding: 1em 2em;
				letter-spacing: 0.05rem;
			}
			> span {
				font-size: 0.7rem;
				margin-top: 22px;
				span {
					&:first-of-type {
						color: orangered;
						font-weight: bold;
						font-style: italic;
					}
					&:last-of-type {
						text-decoration: underline;
					}
				}
			}
		}
		&__footer {
			height: 100px;
			width: 100%;
			position: relative;
			display: flex;
			justify-content: flex-end;
			.dolls {
				width: 40%;
				height: 100%;
				position: absolute;
				display: flex;
				margin-top: 40px;
				margin-right: -30px;
				transform: scaleX(-1);
				.doll {
					position: absolute;
					bottom: 0;
				}
				.strawberryMint {
					width: 50%;
					left: 0;
				}
				.blueberryVanilla {
					left: 120px;
					width: 40%;
				}
				.violaFlower {
					width: 32%;
					left: 70px;
				}
			}
		}
	}
}
