@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Lato&display=swap);

@font-face {
    font-family: 'Motion Picture';
    src: url(/assets/fonts/MotionPicture_PersonalUseOnly.ttf);
    src:
        local('Motion Picture'),
        url(/assets/fonts/MotionPicture_PersonalUseOnly.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}