// boilerplate scss
@import './fonts';
@import './variables';
@import './reset';
@import './breakpoints';
@import './utils';

// modules
@import './landing/landing';
@import './home/home';
@import './footer/footer';
@import './header/header';
@import './sidebar/sidebar';
@import './content/content';
@import './profile/profile';
@import './loadingAnimation/loadingAnimation';
@import './confirmDeletion/confirmDeletion';
@import './createFolder/createFolder';

body {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

