.header {
    grid-area: header;
    background-color: $bodyColor;
    padding: 22px;
    padding-top: 0px;
    &__content {
        height: 100%;
        width: 100%;
        background-color: $contentBackground;
    }
    &__breadcrumbs {
        padding: 16px;
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        span { pointer-events: none; }
        a:first-of-type, span:first-of-type {
            letter-spacing: 1px;
            font-weight: 600;
            color: $matrPink;
        }
        a {
            @include link-underline-effect();
            font-family: 'Lato', sans-serif;
            line-height: 0;
            transition: .2s;
        }
    }
    &__searchbar {
        width: 100%;
        padding: 0px 16px 16px;
        position: relative;
        input {
            height: calc(100% - 12px);
            width: 192px;
            padding: 0;
            position: absolute;
            left: 16px;
            top: -4px;
            text-indent: 32px;
            border-radius: 4px;
            border: 2px solid $matrPink;
            font-family: 'Lato', sans-serif;
            color: $matrPink;
            background-color: whitesmoke;
            transition: .3s;
            &:focus, &:valid { 
                width: calc(100% - 36px);
                &::placeholder {
                    opacity: 0;
                }
                ~ button {
                    transition: .2s .3s;
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
        label {
            position: relative;
            top: 2px;
            left: 6px;
            color: $matrPink;
        }
        button {
            opacity: 0;
            pointer-events: none;
            position: absolute;
            right: 14px;
            top: 2px;
            color: $matrPink;
        }
    }
}